<% if @flash_messages && !@flash_messages.empty? %>
  <p>Failed to update gameplan due to following errors:</p>
  <ul>
  <% @flash_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>
<h2>Edit Gameplan</h2>
<form action="/gameplans/<%= @gameplan.id %>/edit" method="post">
  <input type="hidden" id="hidden" name="_method" value="patch">
  <input style="margin-bottom:12px" type="text" id="gameplan_title" name="gameplan[title]" placeholder="Enter Title" value="<%= @gameplan.title %>">
  <select name="gameplan[category_id]">
    <option value="new">Add New Category</option>
    <% Category.all.each do |cat| %>
      <option value="<%= cat.id %>" <%= "selected" if cat.id == @gameplan.category.id %>><%= cat.name %></option>
    <% end %>
  </select>
  <input type="text" id="category_name" name="category[name]" placeholder="New Category Name" value="<%= @new_category if @new_category%>">
  <br>
   <% 10.times do |n| %>
    <input style="width:42px" type="number" name="steps[][time_length]"  value="<%= @steps[n] ? @steps[n][:time_length] : 0 %>">
    <select name="steps[][time_measure]">
      <option value="min" >min</option>
      <option value="hour" <%= "selected" if @steps[n] && StepHelper.hour?(@steps[n]) %>>hour</option>
    </select>
    <input type="text" name="steps[][step_name]"" placeholder="Step <%= n+1 %>" value="<%= @steps[n][:step_name] if @steps[n] %>">
    <br>
  <% end %>
  <input style="margin-top: 12px" type="submit" value="Update">
</form>
<p style="font-size: 14; margin-top: 48px"><i><a href="/users">Browse Users</a> | <a href="/gameplans">Browse Gameplans</a> | <a href="/">Return Home</a></i></p>